---
layout: "layouts/page.njk"
title: "Хроники"
eleventyComputed:
  pageTitle: "{{ site.title }}"
summary: "Кратки публикации, статии и есета; писани главно за мен, а понякога и за други, също."
date: "Last Modified"
permalink: "/articles/"
tags: ["page"]
robots: "true"
---
{%- set postlist = collections.articles %}
{%- for year, posts in postlist | reverse | groupByYear %}

<h2>{{ year }}</h2>
{%- if (posts.length) > 1  %}
  <span>({{ posts.length }} публикации)</span>
{%- else %}
  <span>({{ posts.length }} публикация)</span>
{%- endif %}
<ol>
  {%- for post in posts %}
  <li>
    <a href="{{ post.url | url }}">
      <h3>{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h3>
    </a>
    <div>
      <span class="sr-only">published on </span>
      <time class="dt-published" datetime="{{ post.date | dateToRfc3339 }}">{{ post.date | datetime("dd LLLL yyyy") }}</time>
    </div>
    {%- if post.data.summary %}
    <p>{{ post.data.summary }}</p>
    {%- endif %}
  </li>
  {%- endfor %}
</ol>
  {%- endfor %}
