<form name="contact" action="/contact/thanks" method="post" data-netlify="true">
  <input type="hidden" name="form-name" value="contact">
  <input type="hidden" name="subject" value="Email from elvenbrill.xyz">
  <p>
    <label>Вашето име</label><br>
    <input name="name" type="text" required>
  </p>
  <p>
    <label>Email адрес</label><br>
    <input name="email" type="email" required>
  </p>
  <p>
    <label>Съобщение</label><br>
    <textarea name="message" row="10" cols="20" required></textarea>
  </p>
  <p>
    <button type="submit">Изпрати</button>
  </p>
</form>
