{%- layout 'base' -%}

{% block 'main' -%}
<main class="main" role="main" id="main" tabindex="-1">
  <h1>{{ title }}</h1>
  {% if introduction -%}
  <section>
    <p>{{ introduction }}</p>
  </section>
  {% endif -%}
  {{ layoutContent }}
</main>
{% endblock -%}
