<!doctype html>
<html lang="{{ site.lang }}" dir="{{ site.dir }}">
  <head>
    <!-- Tech -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="preload" href="{{ '/assets/fonts/SofiaSans-Regular.woff2' | url }}" as="font" type="font/woff2" crossorigin>
    <link rel="alternate" href="{{ '/feed.xml' | url }}" type="application/atom+xml" title="RSS (Atom) Feed">
    <link rel="alternate" href="{{ '/feed.json' | url }}" type="application/feed+json" title="JSON Feed">
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}">

    <!-- Robots -->
    <meta name="robots" content="{% if robots == true %}noindex{% else %}index{% endif %},follow">
    <meta name="referrer" content="origin">
    <link rel="canonical" href="{{ canonicalUrl }}">

    <!-- Theme -->
    <meta name="supported-color-schemes" content="light dark">
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
    <link rel="apple-touch-icon" href="{{ site.icons.touchicon | url }}">
    <link rel="icon" href="{{ site.icons.icon | url }}" type="image/svg+xml">
    <link rel="icon" href="{{ site.icons.favicon | url }}" sizes="any">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">

    <!-- Meta -->
    <title>{{ pageTitle | markdown("inline") }}</title>
    <meta name="title" content="{{ pageTitle | markdown("inline") }}">
    <meta name="description" content="{{ pageDescription or site.description }}">
    <link rel="author" href="{{ '/humans.txt' | url }}" type="text/plain">

    <!-- IndieWeb -->
    <link rel="me auth" href="{{ author.social.github }}">
    <link rel="me" href="{{ author.social.mastodon }}">
    <link rel="authorization_endpoint" href="{{ site.endpoint.auth }}">
    <link rel="token_endpoint" href="{{ site.endpoint.token }}">
    <link rel="webmention" href="{{ site.endpoint.webmention }}">
    <link rel="pingback" href="{{ site.endpoint.pingback }}">

    {%- block head %}
    {%- endblock head %}
  </head>
  <body>
    <a class="skip-link sr-only focusable" href="#content">Skip to content</a>

    <header role="banner">
    </header>

    <main id="content" class="content" tabindex="-1">
      {%- block content %}
      {%- endblock content %}
    </main>

    <footer role="contentinfo">
    </footer>

    {%- block foot %}
    {%- endblock foot %}
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
