<!doctype html>
<html lang="{{ site.locale }}" dir="{{ site.dir }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <meta name="description" content="{{ pageDescription | safe }}">

  <title>{{ pageTitle | safe }}</title>

  <link rel="canonical" href="{{ canonicalUrl }}">
  <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="RSS (Atom) Feed">
  <link rel="alternate" href="/feed.json" type="application/feed+json" title="JSON Feed">

  <link rel="me auth" href="{{ author.github }}">
  <link rel="me" href="{{ author.mastodon }}">

  <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
  <link rel="icon" href="/assets/icons/icon.svg" type="image/svg+xml">
  <link rel="icon" href="/assets/icons/favicon.ico" sizes="any">
  <link rel="manifest" href="/site.webmanifest">

  <link rel="stylesheet" href="/assets/css/reset.css">

  <meta name="supported-color-schemes" content="light dark">
  <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">

  <meta name="robots" content="{% if robots == true %}noindex{% else %}index{% endif %},follow">
  <meta name="generator" content="{{ eleventy.generator }}">
</head>

<body>
  <header role="banner">
  </header>

  <main id="main" role="main" tabindex="-1">
    {{ content | safe }}
  </main>

  <footer role="contentinfo">
  </footer>
  <!-- Current page: {{ page.url | url }} -->
</body>

</html>
