{%- extends 'layouts/base.njk' %}
{%- block head %}
{%- endblock %}

{%- block content %}
<article class="h-entry">

  <header>
    <h1 class="p-name">{{ title }}</h1>
  </header>

  <section class="e-content">
    {{ content | safe }}
  </section>

  <footer>
    <time class="dt-published" datetime="{{ page.date | dateToRfc3339 }}">{{ page.date | datetime("dd LLLL yyyy") }}</time>
  </footer>

</article>
{%- endblock %}

{%- block foot %}
{%- endblock %}
