/* Accessibility utilities */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.skip-link {
  font-size: 0.8rem;
  font-weight: 700;
  left: 1.4em;
  padding: 0.5em;
  position: absolute;
  top: 1.4em;
}

.skip-link.focusable:focus {
  position: absolute;
}

[tabindex="-1"]:focus {
  outline: 0;
}

[hidden] {
  display: none !important;
}
