/* Containers */
body header,
body main,
body footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 56.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

body header {
  display: flex;
  justify-content: space-between;
  padding-top: 8em;
}

body content,
body footer {
  padding-top: 3em;
}

body footer {
  padding-bottom: 8em;
}

body footer small {
  color: #666666;
  color: var(--lighttext);
}

main article,
main section {
  max-width: 60ch;
}
