---
layout: "layouts/page.njk"
title: "Бележки"
summary: "Кратки бележки писани главно за мен, а понякога и за други, също."
date: "Last Modified"
permalink: "/notes/"
tags: ["page"]
robots: "true"
---
{% renderTemplate "md" %}
> Правдивите думи не са красиви. Красивите думи не са правдиви. Добрият не е красноречив. Красноречивият не е добър. Знаещият не е всезнаещ. Всезнаещият не знаещ.
> — Лао Дзъ, „Дао Дъ Дзин“
{% endrenderTemplate %}
