---
layout: "layouts/page.njk"
title: "Бележки"
date: "Last Modified"
permalink: "/notes/"
tags: ["page"]
robots: "true"
eleventyComputed:
  pageTitle: "Бележки · {{ site.title }}"
  pageDescription: "Кратки бележки писани главно за мен, а понякога и за други, също."
---

{% renderTemplate "md" %}
> Правдивите думи не са красиви. Красивите думи не са правдиви. Добрият не е красноречив. Красноречивият не е добър. Знаещият не е всезнаещ. Всезнаещият не е знаещ.
> — Лао Дзъ, „Дао Дъ Дзин“
{% endrenderTemplate %}
