---
eleventyExcludeFromCollections: true
permalink: /feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ site.url }}">
  <id>{{ site.url }}{{ page.url }}</id>
  <title>{{ site.title }}</title>
  <subtitle></subtitle>
  <updated>{{ collections.notes | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <author>
    <name>{{ author.name | capitalize }}</name>
    <email>{{ author.email }}</email>
    <uri>{{ author.url }}</uri>
  </author>
  <link rel="self" href="{{ permalink | absoluteUrl(site.url) }}" />
  <link rel="alternate" href="{{ site.url }}" type="text/html" />
  <link rel="hub" href="http://pubsubhubbub.superfeedr.com/" />
  <icon>{{ '/favicon.ico' | absoluteUrl(site.url) }}</icon>
  <rights>&#169; {{ author.name | capitalize }}. Content Creative Commons licensed unless otherwise stated.</rights>
  {%- for item in collections.notes | limit (10) %}
  {%- set absolutePostUrl = item.url | absoluteUrl(site.url) %}
  <entry>
    <id>{{ absolutePostUrl }}</id>
    <title>{{ item.data.title }}</title>
    <updated>{{ item.date | dateToRfc3339 }}</updated>
    <link rel="related" href="{{ absolutePostUrl }}" type="text/html" />
    <content xml:lang="{{ site.locale }}" type="html">
    {% if item.templateContent %}{{ item.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | safe }}{% else %}""{% endif %}
    </content>
  </entry>
  {%- endfor %}
</feed>
