---
eleventyExcludeFromCollections: true
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.pages | reverse -%}
{%- set absolutePageUrl = item.url | absoluteUrl(site.url) %}
  <url>
    <loc>{{ absolutePageUrl }}</loc>
    <lastmod>{{ item.date | datetime("yyyy-MM-dd") }}</lastmod>
  </url>
{%- endfor %}
{%- for item in collections.notes -%}
{%- set absoluteNoteUrl = item.url | absoluteUrl(site.url) %}
  <url>
    <loc>{{ absoluteNoteUrl }}</loc>
    <lastmod>{{ item.date | datetime("yyyy-MM-dd") }}</lastmod>
  </url>
{%- endfor %}
</urlset>
