---
eleventyExcludeFromCollections: "true"
permalink: /site.webmanifest
---
{
  "name": "{{ author.name | capitalize }}",
  "short_name": "{{ author.name | capitalize }}",
  "start_url": "/",
  "display": "standalone",
  "description": "{{ site.description }}",
  "dir": "{{ site.dir }}",
  "lang": "{{ site.lang }}",
  "orientation": "natural",
  "scope": "/",
  "icons": [
    { "src": "/assets/icons/icon-maskable.png",
      "type": "image/png",
      "sizes": "192x192",
      "purpose": "maskable"
    },
    { "src": "/assets/icons/icon-192.png",
      "type": "image/png",
      "sizes": "192x192"
    },
    { "src": "/assets/icons/icon-512.png",
      "type": "image/png",
      "sizes":
      "512x512"
    }
  ]
}
